@font-face {
	font-family: acumin;
	src: url(assets/Acumin-RPro.otf);
	font-weight: 400;
}
@font-face {
	font-family: acumin;
	src: url(assets/Acumin-BdPro.otf);
	font-weight: 700;
}
body{
	font-family: 'Montserrat', sans-serif;

	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	margin: 0;
	color: #000;
	line-height: 1.2em;
	font-family: acumin;
}
h1, h2{
	font-size: 72px;
	font-weight: 700;
	line-height: 1em;
}
h1 img, h2 img{
	height: 52px;
}
h3{
	font-size: 48px;
}
h3 img{
	height: 40px;
}
h4{
	font-size: 30px;
}
h5{
	font-size: 26px;
}
h6{
	font-size: 22px;
}
p{
	font-size: 18px;
	color: #000;
	margin: 0;
}
a{
	text-decoration: none;
}
.mb-5{
	margin-bottom: 50px;
}
.mb-2{
	margin-bottom: 20px;
}
.mb-1{
	margin-bottom: 10px;
}
@media(max-width: 1024px){
	h1, h2{
		font-size: 54px;
	}
	h1 img, h2 img{
		height: 40px;
	}
	h3{
		font-size: 40px;
	}
	h3 img{
		height: 34px;
	}
	h4{
		font-size: 26px;
	}
	h5{
		font-size: 22px;
	}
	h6{
		font-size: 20px;
	}
	p{
		font-size: 16px;
	}
	.mb-5{
		margin-bottom: 30px;
	}
}

@media(max-width: 767px){
	h1, h2{
		font-size: 34px;
	}
	h1 img, h2 img{
		height: 25px;
	}
	h3{
		font-size: 30px;
	}
	h3 img{
		height: 27px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 20px;
	}
	h6{
		font-size: 18px;
	}
	p{
		font-size: 16px;
	}
}

.text-center{
	text-align: center;
}
.text-white{
	color: #fff;
}
.bg-dark{
	background-color: #000;
}
.bg-green{
	background-color: #a5ff00;
}
.text-green{
	color: #a5ff00;
}
.text-stroke{
	color: #000;
	-webkit-text-fill-color: #fff; 
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #000;
}

.fill-green{
	-webkit-text-fill-color: #a5ff00; 
}


.section{
	position: relative;
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}
.dark-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0006;
}
.container{
	margin: auto;
	display: flex;
	gap: 30px;
	max-width: 1300px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.col{
	flex: 1;
}
.logo{
	position: absolute;
	top: 50px;
	left: 50px;
	font-weight: 700;
	line-height: 0.9em;
	color: #000;
}
.logo .dots{
	width: 5px;
	height: 5px;
	background-color: #000;
	display: inline-block;
}
.logo-white{
	color: #fff;
}
.logo-white .dots{
	background-color: #a5ff00;
}

.logo-dark{
	color: #000;
}
.logo-dark .dots{
	background-color: #000;
}
.green-btn{	
    padding: 5px 20px;
    border-radius: 50px;
    color: #000;
    background-color: #a5ff00;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #a5ff00;
    transition: all 0.3s ease;
    cursor: pointer;
}
.green-btn img{
    height: 38px;
    filter: brightness(0);
    margin-bottom: -8px;
    margin-right: 4px;
    transition: all 0.3s ease;
}
.green-btn:hover{	
    color: #a5ff00;
    background-color: transparent;
}
.green-btn:hover img{
	filter: unset;
}
.transparent-btn{	
    padding: 5px 20px;
    border-radius: 50px;
    color: #a5ff00;
    background-color: transparent;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #a5ff00;
    transition: all 0.3s ease;
    cursor: pointer;
}
.transparent-btn img{
    height: 30px;
    transition: all 0.3s ease;
    margin-bottom: -6px;
}
.transparent-btn:hover{
    color: #000;
    background-color: #a5ff00;	
}
.transparent-btn:hover img{
    filter: brightness(0);	
    transition: all 0.3s ease;
}

.menu{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
}
.menu ul{
	display: flex;
	gap: 40px;
	flex-direction: column;
	padding: 0;
	list-style: none;
}
.menu img{
	width: 40px;
}

.section-1 h1{
	padding-top: 80px;
}
.section-1 .btn-container{
	display: flex;
	gap: 40px;
	padding-top: 80px;
	justify-content: center;
}

.section-3 .img-overlay{
	position: absolute;
	right: 50px;
	height: 80%;
	top: 50%;
	transform: translateY(-50%);
}
.section-3 .col{
	max-width: 600px;
	padding-top: 15%;
}

.video-overlay{
	overflow: hidden;
	position: absolute;
	left: 5%;
	right: 5%;
	top: 10%;
	bottom: 10%;
	border-radius: 15px;
}
.video-overlay video{
	position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pause-play{
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.4s ease;
	opacity: 1;
	visibility: visible;
    padding: 6px 10px;
    border-radius: 15px;
    background-color: #0000
}
.pause-play:hover{
	background-color: #000;
}
.pause-play.hidden{
	opacity: 0;
	visibility: hidden;
}
.play-btn{
	position: absolute;
	top: 10%;
	right: 15%;	
}
.pause-btn{
	position: absolute;
    top: 70%;
    right: 65%;
}
.pause-play img{
	height: 50px;
}
.pause-play .text{
	font-weight: 700;
    font-size: 22px;
    line-height: 1em;
}

.section-4 .container{	
	transition: all 0.4s ease; 
	opacity: 1
	visibility: visible;
}
.section-4 .container.hidden{
	opacity: 0;
	visibility: hidden;
}

.section-5 .img-overlay{
	position: absolute;
	left: 50px;
	height: 80%;
	top: 50%;
	width: 60%;
	object-fit: cover;
	transform: translateY(-50%);
}
.section-5 .col{
	max-width: 600px;
	padding-top: 10%;
	margin-left: auto;
	position: relative;
}
.section-5 .col img{
	position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.s5-grid{
	display: flex;
	gap: 30px;
	justify-content: center;
	margin: 0 auto;
    max-width: 930px;
    padding-top: 20px;
}
.s5-grid .grid-item{
	flex: 1 0 30%;
	max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s5-grid .grid-item img{
	height: 90px;
}
.s5-grid .grid-item h4{
	margin-bottom: 15px;
	font-weight: 700;	
}
.s5-grid .grid-item p{
	font-weight: 500;
    max-width: 245px;
}